<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NewsletterApp</string>
	<key>CFBundleExecutable</key>
	<string>NewsletterApp</string>
	<key>CFBundleIconFile</key>
	<string>generated-57a03ea6644c0e726b8bdd45421af5806d2d79a6a15dd3f0e41e61b8c6b1a9bb.icns</string>
	<key>CFBundleIdentifier</key>
	<string>NewsletterApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NewsletterApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
